/* COLORS */
$color-main: rgba(229, 229, 229, 1);
$color-accent: rgba(220, 120, 11, 1);
$color-text-tittle:rgba(21, 12, 1, 1);
$color-text-subttitle:rgba(21, 12, 1, .7);
$color-accent-light: rgba(251, 241, 231, 1);


// FONT FAMILY
$font-philosopher: 'Philosopher',
sans-serif;
$font-roboto: 'Roboto', sans-serif;


/* FONT SIZE*/
$size-default: 16px;
$size-footer: 14px;
$size-biggest: 48.83px;
$size-tittle: 31.25px;
$size-subtittle: 24px;

/* FONT WEIGHT*/
$weight-regular: 400;
$weight-bold: 700;
$weight-medium: 500;
$weight-semiBold: 600;


/*CONTAINER*/
$container: 1140px;